
table, th, td {
    			border: 1px solid black;
    			border-collapse: collapse;
				}

fieldset{
	width: 750px;
	margin: 10px auto;
	color: #444;
	border: 5px solid #ccc;
	font-family: Helvetica;
	padding: 10px;
}

h1{
	text-align: center;
}

p.sub-titulo{
	font-size: 20px;
}

.direita{
	text-align: right;
}

.center{
	text-align: center;
}

table.right{
    float: right;
}

#coda{
	float: right;
}

#Tint{
	text-align: center;
} 

